/* IMPORTS */
@import url('https://fonts.googleapis.com/css2?family=Stack+Sans+Notch:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Redacted+Script:wght@300;400;700&display=swap'); /* redacted script */

/* SETUP */

* {
    font-family: "Stack Sans Notch", san-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: .15s;
}
::selection {
    background-color: rgba(255, 255, 255, 0.2);
}

*:focus {
    outline: none;
}

body {
    background-image: url("");
    background-color: #000000;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    display: flex;
    justify-content: center;
    background-color: #000;
}

#fx_background_blur {
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px);
    position: fixed;
    z-index: -988;
}


/* NAVBAR */


#navbar_container ul {
    left:0;
    cursor: default, auto;
    z-index: 999;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    backdrop-filter: blur(20px);
    background-color: #b3b3b320;
    position: fixed;
    top: 0;
    width: 100%;
    border: 2px #b3b3b335 solid;
}

#navbar_container li {
    float: left;
}

#navbar_container li a {
    cursor: default, auto;
    z-index: 999;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1.1em;
    border-radius: 7px;
    margin: 1px;
    transition: .2s;
    border: 2px #00000000 solid;
}

#navbar_container li a:hover:not(.active) {
    background-color: linear-gradient(to bottom right, #b3b3b307, #b2b2b212);
    border: 2px #b3b3b335 solid;
}

#navbar_container li a:hover {
    cursor: pointer;
}


/* MAIN CONTENT */

#content_main {
    color: white;
    padding: 20px;
    width: 100%;
    margin-top: 70px;
    margin-left: min(10%, 80px);
    margin-right: min(10%, 80px);
    margin-bottom: 10px;
    backdrop-filter: blur(40px);
    border-radius: 10px;
    border: 2px #b3b3b335 solid;
}

/* Helper Classes */

.flex-inline {
    display: flex;
    flex-direction: row;
}

.flex-vertical {
    display: flex;
    flex-direction: column;
}

/* Toggle Switch */

.switch {
    display: block;
    --width-of-switch: 3.5em;
    --height-of-switch: 2em;
    --size-of-icon: 1.4em;
    --slider-offset: 0.3em;
    position: relative;
    width: var(--width-of-switch);
    height: var(--height-of-switch);
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f4f4f5;
    transition: .1s;
    border-radius: 30px;
    border: #30313623 1px solid;
}

.slider:before {
    position: absolute;
    content: "";
    height: var(--size-of-icon, 1.4em);
    width: var(--size-of-icon, 1.4em);
    border-radius: 20px;
    left: var(--slider-offset, 0.3em);
    top: 50%;
    transform: translateY(-50%);
    background: #303136;
    transition: .1s;
}

input:checked+.slider {
    background-color: #303136;
    border: #f4f4f523 1px solid;
}

input:checked+.slider:before {
    left: calc(100% - (var(--size-of-icon, 1.4em) + var(--slider-offset, 0.3em)));
    background: #f4f4f5;
}

/* button css */

button {
    background-color: #FFF0ED;
    color: none;
    border-radius: 5px;
    padding: 5px;
    border: 1px solid #FFF0ED;
    margin-top: 5px;
    margin-bottom: 5px;
    transition: 1s;
}

button:hover {
    cursor: pointer;
    transform: scale(1.15);
}

/* HTML: <div class="loader"></div> */
.loader {
    display: block;
    position: fixed;
    z-index: 1000;
    width: 50px;
    aspect-ratio: 1;
    display: grid;
    border: 4px solid #0000;
    border-radius: 50%;
    border-color: #ccc #0000;
    animation: l16 1s infinite linear;
}
.loader::before,
.loader::after {    
    content: "";
    grid-area: 1/1;
    margin: 2px;
    border: inherit;
    border-radius: 50%;
}
.loader::before {
    border-color: #f03355 #0000;
    animation: inherit; 
    animation-duration: .5s;
    animation-direction: reverse;
}
.loader::after {
    margin: 8px;
}
@keyframes l16 { 
    100%{transform: rotate(1turn)}
}
