input[type="color"] {
   background: #00000000;
   border: none;
}
input[type="text"], button {
    padding: 3px;
    border-radius: 4px;
    border: 1px solid #87878736;
    background: #3e3e3e15;
    color: #ffffff;
    backdrop-filter: blur(10px);
}
#settings_tooltip {
    border: 1px solid #87878736;
    border-radius: 5px;
    padding: 4px;
    backdrop-filter: blur(10px);
}
::placeholder {
    color: var(--placeholder-color);
    opacity: 0.5;
}
